@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    padding-bottom: 50px;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-weight: 300;
        }
        button {
          padding: 12px 24px;
          background-color: #fece51;
          border: none;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .logout{
          width: max-content;
          padding: 12px 24px;
          background-color: teal;
          color: #fff;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    @include md {
      flex: none;
      height: max-content;
    }
    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
